<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.aatl.mobi.android.barcodescancamreax">
    <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScanBarcodeActivity"
            android:label="Scan Barcode">
           <intent-filter>
               <action android:name="android.media.action.VIDEO_CAMERA" />
            </intent-filter>
            <meta-data android:name="android.notch_support" android:value="true"/>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="barcode,text" />
        </activity>
        <activity android:name=".MainActivity">
                    <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>